<div class="line">

  <div class="buttons" *ngIf="arrows == 'outside'">
    <div class="button button_left button_left-outside" (click)="arrowSwitchSlide(1)"></div>
    <div class="button button_right button_right-outside" (click)="arrowSwitchSlide(-1)"></div>
  </div>

  <div class="buttons" *ngIf="arrows == 'inside'">
    <div class="button button_left" (click)="arrowSwitchSlide(1)"></div>
    <div class="button button_right" (click)="arrowSwitchSlide(-1)"></div>
  </div>

  <div class="viewer">
    <div class="content" #content (mousedown)="onMouseDown($event)" (touchstart)="onMouseDown($event)">
      <ng-content></ng-content>
    </div>
  </div>

</div>

<div class="points">
  <div class="points__item" (click)="pointerSwitchSlide(item.id)" [ngClass]="{points__item_selected: item.check}"
    [ngStyle]="{'border-color': pointColor, 'background-color': item.check?pointColor:'inherit'}"
    *ngFor="let item of getInfoPointer()"></div>
</div>
